* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

header {
        background-color: lightblue;
        padding: 10px 0px;
}

.container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
}

.container_small {
        max-width: 800px;
        margin: 0 auto;

}


.col_external {
        width: 20%;

}

.col_central {
        width: 60%;
}

.large_column {
        width: 70%;
}

.small_column {
        width: 30%;
}

.column_full {
        width: 100%;
}

.column_25 {
        width: 25%;
}


.height {
        height: 250px;
}

.content {
        padding: 15px;
}

.border {
        border: 1px dashed black;
}

.double_height {
        height: 500px;
}


.text_left {
        text-align: left;
}

.text_center {
        text-align: center;
}

.text_right {
        text-align: right;
}


.orange {
        background-color: orange;
}

.fuchsia {
        background-color: fuchsia;
}

.azure {
        background-color: lightskyblue;
}

.pink {
        background-color: pink;
}

.blue {
        background-color: blue;
        padding: 15px 0px;
}

.grey {
        background-color: grey;
}

.green {
        background-color: green;
}

.dark_pink {
        background-color: salmon;
}

.light_green {
        background-color: aquamarine;
}


header ul {
        list-style-type: none;

}

header ul li {
        display: inline-block;

}


.padding {
        padding: 15px 0;
}

.margin {
        margin: 10px auto;
}


footer {
        background-color: black;
}

.footer_top {
        border-bottom: 1px solid white;
        padding: 5px 0 15px 0;
}

.flex {
        display: flex;
}

.footer_bottom {
        padding-top: 30px;
}

.logo_footer,
.button_footer {
        background-color: salmon;
        border: 1px solid black;
        padding: 5px;
}

.between {
        justify-content: space-between;
}