*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}

header {
    background-color: lightskyblue;
    padding : 15px 0px;
       }

.container {
          max-width : 1000px;
          display : flex;
          margin: 0 auto;
           }

.container-small {
                  max-width : 800px;
                  margin : 0 auto;
                  display: flex;
}

.contenuto {
            height: 320px;
            border: 1 solid black;
}
.colonna1 {
                  width: 60%;
          }

.colonna2 {
            width: 40%;
}

.logo {
       margin : 0px 10px;
}

.margine {
          margin : 30px auto;
}

.fucsia {
        background-color: fuchsia;
}

.azzurro {
          background-color: lightskyblue;
}

.rosa {
        background-color: pink;
}

.blu {
      background-color:blue;
}

.col {
    width : 100%;
}

.menu {
       text-align: left;
}

.menu ul {
         list-style-type:none;
         margin: 0px 15px;
         
}

.menu ul li {
             display: inline-block;
             margin : 0 15px;
}

.padding {
         padding : 15px 0;
}




